[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-serializer = "*"
flask = "2.2.5"
flask-migrate = "*"
flask-sqlalchemy = "3.0.5"
ipdb = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-cors = "*"
ipython = "7.34.0"

[dev-packages]

[requires]
python_version = "3.8"
