.auth-title {
  text-align: center;
  font-family: 'Games', sans-serif; 
  font-size: 60px;
  font-weight: 500;
  background-color: transparent;
  text-shadow: -20px 20px 2px rgba(150, 0, 0, 0.250),
  0px 0px 4px rgba(255, 0, 0, 0.660);
}

.title-container {
  text-align: center;
  margin-top: -100px;
}

.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Darbots', sans-serif;
  background-color: #ff00001c;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.855);
  width: 500px;
  height: 400px;
  align-self: center;
  transition: transform 10s ease;
  margin-top: -500px;
  background: linear-gradient(to top, #ff3c00);
  background-size: 100% 100%;
  animation: rotate 10s linear infinite;
  justify-content: center;
}

  .container {
    height: 100vh;
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .authentication-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .auth-tab-button {
    border: none;
    padding: 10px 20px;
    margin: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    outline: none;
  }
  
  .auth-tab-button.active {
    background-color: #ccc;
  }
  
  .authentication-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .login-button:hover {
    background-color: #007c17c6; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .input-label {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
  }

  .input-field {
    padding: 8px;
    border: 1px solid #009732;
    border-radius: 3px;
    font-family: 'Darbots', sans-serif;
  }

  .input-field:focus {
    border-color: #007c17c6;
    box-shadow: 0 0 5px rgba(0, 124, 23, 0.5);
  }


.login-button, .signup-button {
  background-color: #000000c5;
  font-family: 'Darbots', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.login-button:hover, .signup-button:hover {
  background-color: #007c17c6;
  transform: scale(1.5); 
}

.mode-toggle {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;;
}

.mode-toggle:hover {
  color: #007c17c6; 
  transform: scale(2.5);
}

.login-mode {
  transform: perspective(1000px) rotateY(0deg) scaleX(1);
  transition: transform 0.5s ease;
}

.signup-mode {
  transform: perspective(1000px) rotateY(-180deg) scaleX(-1);
  transition: transform 0.5s ease;
}

.error-message {
  text-align: center;
}