.auth-title {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  font-family: 'Games', sans-serif; 
  text-shadow: -3px 3px 2px rgba(255, 204, 0, 0.8),
  -4px 4px 5px rgb(0, 0, 0);
}

.toggle-title {
  font-size: 25px;
  text-shadow: 1px 1px 1px rgba(255, 204, 0, 0.85); 
  /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.85);  */
}

.title-container {
  text-align: center;
  margin-top: -100px;
}

.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Darbots', sans-serif;
  background-color: #ffffff00;
  box-shadow: 0px 1px 20px rgba(0, 0, 0), 0px 1px 5px rgba(255, 204, 0, 0.85);
  width: 500px;
  height: 400px;
  align-self: center;
  transition: transform 10s ease;
  margin-top: -500px;
  background: linear-gradient(to top, #ff3c00);
  background-size: 100% 100%;
  justify-content: center;
}

  .container {
    height: 100vh;
    width: 100vw;
    padding-left: 10px;
    background-image: url(https://i.imgur.com/qKNjAJ1.jpg);
    display: grid;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .authentication-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .auth-tab-button {
    border: none;
    padding: 10px 20px;
    margin: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    outline: none;
  }
  
  .auth-tab-button.active {
    background-color: #ccc;
  }
  
  .authentication-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    
  }
  
  .login-button:hover {
    background-color: rgba(255, 205, 0, 0.8); 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); 
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
  }

  .input-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgba(255, 204, 0, 0.94);
    text-shadow: 1px 1px 4px rgb(0, 0, 0);

  }

  .input-field {
    padding: 8px;
    border: 1px solid rgba(255, 205, 0, 0.8);
    border-radius: 3px;
    font-family: 'Darbots', sans-serif;
    font-size: 16px;

  }

  .input-field:focus {
    border-color: rgba(255, 205, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }


.login-button, .signup-button {
  background-color: #000000c5;
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
  font-family: 'Darbots', sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.login-button:hover, .signup-button:hover {
  background-color: rgba(255, 204, 0, 0.9);
  transform: 1.5s scale(2.5); 
  color: #00000000;
}

.mode-toggle {
  font-size: 20px;
  cursor: pointer;
  text-shadow: 0px 1px 2px rgba(255, 204, 0, 0.85); 
  transition: color 1.5s ease, transform 1.5s ease;
}

.mode-toggle:hover {
  color: rgba(255, 204, 0, 0.99); 
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
  transform: 1.5s scale(1.5);
}

.login-mode {
  transform: perspective(1000px) rotateY(0deg) scaleX(1);
  transition: transform 1.5s ease;
}

.signup-mode {
  transform: perspective(1000px) rotateY(-180deg) scaleX(-1);
  transition: transform 1.5s ease;
}

.error-message {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 205, 0, 0.99);
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
}
