.fighter-card {
    font-family: 'Darbots', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    width: 300px;
    padding: 5px;
}

.fighter-card img{
    width: 160px;
    height: 160px;
    opacity: 0.8;
    border-radius: 50px;
}

.card-title{
    text-align: center;
    font-family: 'Games', sans-serif; 
}