.fight-setup-container {
    position: relative;
    display: grid;
    width: 100vw;
    justify-items: center;
    background-color: #f2f2f200;
    font-family: 'Games', sans-serif;
    color: rgb(255, 255, 255);
}

.fighters-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1px;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.fighters-container .top-row {
    grid-column: 1 / span 3;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fighter-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-collapse: collapse;
    align-items: center;
    justify-items: center;
    font-family: 'Darbots', sans-serif;
    height: 300px;
    width: 800px;
    padding: 10px;
    border: 0px solid transparent;
    grid-column: span 3;
    text-align: center;
    position: relative;
    overflow: hidden;
    --border-size: 3px;
    --border-angle: -2turn;
    background-image: conic-gradient(from var(--border-angle),
            #213,
            #112 50%,
            #213),
        conic-gradient(from var(--border-angle), transparent 20%, rgba(0, 17, 255, 0.80), rgba(200, 0, 0, 0.80));
    background-size: calc(100% - (var(--border-size) * 5)) calc(100% - (var(--border-size) * 5)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 10s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.vs-title {
    font-size: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 3px #000000;
    text-align: center;
    text-align: center;
    flex: 1;
}

.user-card,
.Cpu-card {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.user-card {
    text-shadow: -5px 5px 3px blue;
    box-shadow: 0px 0px 10px blue;
    border: solid 2px rgb(0, 255, 85, 0.55);
    background: linear-gradient(to bottom,
            rgba(0, 0, 255, 0.55),
            rgba(0, 0, 255, 0.45),
            rgba(0, 0, 255, 0.25),
            rgba(0, 0, 255, 0.10),
            transparent);
    background-size: 100% 450%;
    animation: fieryEffect 10s ease-in-out infinite;
}

.Cpu-card {
    text-shadow: -5px 5px 3px rgb(255, 0, 0);
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    border: solid 2px rgb(0, 255, 85, 0.55);
    background: linear-gradient(to bottom,
            rgba(255, 0, 0, 0.55),
            rgba(255, 0, 0, 0.45),
            rgba(255, 0, 0, 0.25),
            rgba(255, 0, 0, 0.10),
            transparent);
    background-size: 100% 450%;
    animation: fieryEffect 10s ease-in-out infinite;
}

@keyframes fieryEffect {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 100%;
    }
}
.fighter-box {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: relative;
    border-radius: 100px;
    border: solid 2px rgb(0, 255, 85, 0.55);
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: border-color 2000ms;
    opacity: 1;
}

.fighter-box:hover .image-container img {
    transform: scale(1.4);
    transition: transform 2000ms, border-color 2000ms;
    border-color: transparent;
}


.fight-setup-container.start-battle {
    position: relative;
    
}

.countdown-sequence {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.countdown-number {
    font-size: 80px;
    font-weight: 500px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    margin: 10px;
    animation: fadeIn 3s infinite;
    z-index: 999;
}

.countdown-text {
    font-size: 80px;
    font-weight: 500px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    animation: fadeIn 3s infinite;
    z-index: 999;
}
    
@keyframes fadeToBlack {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 1);
    }
}

.fade-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    animation: fadeToBlack 3s ease-in-out forwards;
    z-index: 1;
}

.countdown-number.countdown-3 {
    opacity: 0;
    animation: fadeIn 3s 1s;
}

.countdown-number.countdown-2 {
    opacity: 0;
    animation: fadeIn 3s  4s;
}

.countdown-number.countdown-1 {
    opacity: 0;
    animation: fadeIn 3s  7s;
}

.countdown-text {
    opacity: 0;
    animation: fadeIn 3s  10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

