.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}

.profile-container {
  display: grid;
  width: 90vw;
  height: 90vh;
  padding: 20px;
  font-family: 'Darbots', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #00000000;
  border-radius: 5px;
  align-content: space-between;
}

.profile-title {
  color: rgba(255, 255, 255);
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  height: 200px;
  font-family: 'Games', sans-serif; 
  text-shadow: -3px 3px 4px rgba(255, 204, 0, 0.8),
  -4px 4px 5px rgb(0, 0, 0);
}

.profile-info {
  display: flex;
  flex-direction: column;
  opacity: 0; 
  animation: slide 3s ease-in-out forwards;
}

@keyframes slide {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile-info p {
  margin: 5px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 255, 50, 0.8);
}


.toggle-username,
.toggle-password {
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
}

.profile-section {
  color: rgb(255, 255, 255);
  margin : 20px;
  text-align: center;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.55);
  border: solid 2px rgba(0, 70, 150, 0.75);
  border-radius: 33.34px;

}


.toggle-button,
.update-button {
  background-color: rgba(0, 70, 150);
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
  border: none;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 255, 68, 0.50);;
  cursor: pointer;
  font-family: 'Darbots', sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover,
.update-button:hover {
  background-color: rgba(0, 155, 50, 1);
  text-shadow: -1px 1px 2px rgba(0, 70, 150),
  -1px 1px 2px rgb(0, 0, 0);
  transform: scale(1.15);
}

.custom-input{
  height: 9px; 
  padding: 10px; 
  border-radius: 5px;
  margin: 10px;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: bold;
  font-family: 'Darbots', sans-serif;
}

.custom-input[type="password"]::placeholder {
  font-family: 'Darbots', sans-serif;
  font-weight: bold;
}

.popup-message {
  position: absolute;
  background-color: rgb(200, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.neon-effect {
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
  animation: neon 1.5s linear infinite;
}

@keyframes neon {
  0%, 100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px -1px 15px rgb(0, 255, 50);
  }
}

.top-fighters {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: start;
  gap: 20px;
  color: rgb(255, 255, 255);
}

.top-fighters-header {
  grid-column: 1 / span 3;
}

.recent-fighter-image img {
  border-radius: 100%;
  height: 50px;
  border: 3px solid rgba(0, 255, 38, 0.65);
  opacity: 0.9;
  height: 85px;
}



